<html>

<head>
    <meta charset="utf-8" />
    <link href="./node_modules/@mdi/roboto.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./node_modules/vuetify/dist/vuetify.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="./node_modules/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link href="./node_modules/material-design-icons-iconfont/dist/material-design-icons.css" rel="stylesheet" />
    <title>E.P.I - SCAN </title>
</head>

<body>

    <div id="app" dark="true">
        <div>
            <v-app>
                <div class="text-right mt-3 mr-5">
                    <v-bottom-sheet v-model="sheet">
                        <template v-slot:activator="{ on }">

                            <v-btn color="white teal--text" v-on="on">
                                Configurações
                                <v-icon right> mdi-settings</v-icon>
                            </v-btn>
                        </template>
                        <v-sheet class="text-center pt-4">
                            <h1 class="teal--text font-weight-black headline mb-6">Configuração de Equipamentos Obrigatórios<h1>
                            <div class="container">
                            <div  class="item-list " v-for="(equipamento, key ) in botoes" :key="equipamento.name"  v-if="equipamento.name != 'Pessoa'">

                                  <img height="40px;" :src="equipamento.img" :alt="equipamento.name">
                                  <h3 class="subtitle-1">{{equipamento.name}}<h3>
                                <p class="body-1 teal--text">{{equipamento.isRequired ? '  Ativado' : 'Desativado'}}</p> 
                                <v-switch  class="bt" v-model="obrigatorios" color="teal"  :value="key"></v-switch>

                            </div>
                            </div>
                             <v-btn
                              class="white teal--text"
                              text
                              @click="sheet = !sheet" fab large dark
                            > <v-icon>mdi-close</v-icon></v-btn>
                        </v-sheet>

                    </v-bottom-sheet>
                </div>
                <div>
                    <img class="cam" :src=url_cam>
                </div>
                <div class="botoes white--text">

                    <div id="flex-container">

                         <div  class="item">
                            <div>
                            <img height="50px;" :src="botoes.pessoa.img">
                            </div>
                            <v-chip v-bind:class="[selected ]" :input-value="true">
                                {{botoes.pessoa.name}}
                                <v-avatar right v-bind:class="[avatar_selected]">
                                    <v-progress-circular v-if="isLoading" indeterminate :size="20" color="white"></v-progress-circular>
                                    <span v-if="!isLoading">{{botoes.pessoa.count}} </span>
                                </v-avatar>
                            </v-chip>

                        </div>

                        <div v-for="botao in botoes" class="item" v-if="botao.isRequired == true && botao.name != 'Pessoa'">
                            <div>
                            <img height="50px;" :src="botao.img">
                            </div>
                            <v-chip v-bind:class="[botao.erro  ? error :  selected ]" :input-value="true" filter v-bind:filter-icon="botao.erro ? minus : check">
                                {{botao.name}}
                                <v-avatar right v-bind:class="[botao.erro ? avatar_error : avatar_selected]">
                                    <v-progress-circular v-if="isLoading" indeterminate :size="20" color="white"></v-progress-circular>
                                    <span v-if="!isLoading">{{botao.count}} </span>
                                </v-avatar>
                            </v-chip>

                        </div>

                    </div>
                </div>
                <div id="head">
                    <img class="pebbian_logo" src="img/erp.png">
                    <img class="tek_logo " src="img/tek.png">

                </div>
            </v-app>
        </div>

    </div>
</body>
<footer>
</footer>

<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./node_modules/axios/dist/axios.js"></script>
<script src="./node_modules/vuetify/dist/vuetify.js"></script>

<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            botoes: {
                pessoa: {
                    name: "Pessoa",
                    count: 0,
                    img: "img/human.png",
                    isRequired: true

                },
                mascara: {
                    name: "Máscara",
                    count: 0,
                    erro: true,
                    img: "img/mask.png",
                    img_white: "img/mask_white.png",
                    isRequired: true

                },
                luva: {
                    name: "Luva",
                    count: 0,
                    erro: true,
                    img: "img/luvas.png", 
                    img_white: "img/luvas_white.png", 
                    isRequired: true

                },
                capacete: {
                    name: "Capacete",
                    count: 0,
                    erro: true,
                    img: "img/helmet.png",
                    img_white: "img/helmet_white.png",
                    isRequired: true

                },
                touca: {
                    name: "Touca",
                    count: 0,
                    erro: true,
                    img: "img/touca_descartavel.png",
                    img_white: "img/touca_descartavel_white.png",
                    isRequired: true

                }

            },
            equipamentos: "",
            unselected: "teal darken-4 white--text ma-2",
            error: "white deep-orange--text  ma-2",
            avatar_error: "deep-orange  darken-1 white--text",
            avatar_selected: "teal white--text",
            selected: "white teal--text ma-2",
            minus: "mdi-minus",
            check: "mdi-check",
            isLoading: true,
            url_get : "http://127.0.0.1:5000/process_image",
            url_cam: "http://127.0.0.1:5000/video_feed", 
            url_post: "http://127.0.0.1:5000/set_equipments", 
            sheet: false,
            isMounted: false,
            obrigatorios: []
        },

        watch: {
            equipamentos: function(equipamentos) {
                if (equipamentos) {
                    for (var key in this.botoes) {
                        this.botoes[key].count = 0;
                            for (let i = 0; i < equipamentos.length; i++) {

                                if (equipamentos[i] === key) {
                                    this.botoes[key].count++;
                                }
                                this.botoes[key].erro = this.botoes[key].count > 0 ? false : true;
                            }

                    }

                }
            }, 
            obrigatorios:  function(obrigatorios) {
            this.setIsRequired(obrigatorios);
            
                if(this.isMounted){
                    let equipamentos = {equipments: obrigatorios}
                    let config = {headers: {"Content-Type": "application/json"}};
                    axios.post(this.url_post, equipamentos, config); 
                }
                this.isMounted = true;
             }

        },
        mounted() {
            this.setObrigatorios();
            this.getObjects();
        },

        methods: {
            getObjects() { 
                setInterval( () =>
                    axios
                        .get(this.url_get)
                        .then(response => {
                            this.equipamentos = JSON.parse(response.data);
                            this.isLoading = false;
                             getObjects();
                        }), 1000);
            }, 

            setIsRequired(required){
                   for (var key in this.botoes) {
                       if(required.indexOf(key) != -1){
                            this.botoes[key].isRequired = true ;
                       }else{
                            this.botoes[key].isRequired = false;
                       }
                   }

            },

            setObrigatorios(){
               for (var key in this.botoes) {
                   this.obrigatorios.push(key);
               }

            }
        }
    });
</script>

</html>
